[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/jdavis/oh-my-zsh.git
[submodule ".vim"]
	path = .vim
	url = git://github.com/jdavis/vim-files.git
[submodule ".fonts"]
	path = .fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule ".z"]
	path = .z
	url = https://github.com/rupa/z.git
