[advice]
    statusHints = false

[color]
    ui = true

[core]
    editor = vim
    excludesfile = ~/.git_excludes

[github]
    user = jdavis

[help]
    autocorrect = 1

[init]
    templatedir = ~/.git_template

[user]
    name = Josh Davis
    email = josh@joshldavis.com

[push]
    default = matching

#[url "https://github.com/"]
    #insteadOf = "gh:"

#[url "git@github.com:"]
    #pushInsteadOf = "gh:"

#[url "https://github.com/jdavis/"]
    #insteadOf = "jd:"

#[url "git@github.com:jdavis/"]
    #pushInsteadOf = "jd:"

#[url "git@gist.github.com:"]
    #pushInsteadOf = "gist:"

[alias]
    # Shortcuts
    a = add
    aa = add --all
    b = branch
    bl = blame
    c = commit -v
    cl = clone
    co = checkout
    d = diff
    dc = diff --cached
    f = fetch
    h = help
    l = log
    ls = ls-files
    m = merge
    p = pull
    r = remote
    rb = rebase
    rf = reflog
    rs = reset
    rv = revert
    s = status
    sh = show
    sl = shortlog
    sm = submodule
    st = stash
    su = status -uno
    un = reset HEAD

    # New Commands
    amend = commit --amend
    count = shortlog -sn
    ctags = !.git/hooks/ctags
    forward = checkout HEAD^
    last = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit HEAD~10..HEAD~
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(A: %ad - C: %cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    man = help
    sync = !git pull && git push
    unstage = reset HEAD
    up = --set-upstream
    zip = !git ls-files | zip -@ "${PWD##*/}"-`date +%Y%m%d%H%M%S`

    # Fixes this issue:
    # http://stackoverflow.com/q/6089294
    pu = !git push -u origin `git rev-parse --abbrev-ref HEAD`

    # Found here: http://blog.pagebakers.nl/2009/01/29/git-ignoring-changes-in-tracked-files/
    # Thanks to http://github.com/zdwolfe for tweeting it.
    untrack = update-index --assume-unchanged
    track = update-index --no-assume-unchanged

    # Show Git root
    root = rev-parse --show-toplevel

    # SVN Commands
    spull = !git-svn fetch && git-svn rebase
    spush = !git-svn dcommit

    # Git + Tig
    tig = !tig
    t = !tig
